.login-background {
    background-size: cover;
    background-image: url(../assets/imgs/background4.jpg);
  }
.transparent{
   background-color: transparent;
}
.empty-space{
    margin-top: 35%;
}
.login-form{
    padding: 10%;
}

.inputItems{
    color: white;   
}